.create-staff-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  color: #364953; /* Primary red color */
}

.success-message {
  color: #5b8a5b; /* Green for success messages */
  text-align: center;
}

.error-message {
  color: #364953; /* Red for error messages */
  text-align: center;
}

.staff-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
  padding: 0 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #555;
  text-align: left;
}

.form-group input {
  width: calc(100% - 2px);
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.staff-form .submit-button {
  padding: 10px 15px;
  background-color: #1a365d !important;  /* Darker blue with !important */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.staff-form .submit-button:hover {
  background-color: #0f2442 !important;  /* Darker blue for hover */
}

.slot-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 15px;
}

.time-inputs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 0;
}

.time-inputs .form-group {
  padding: 0;
}

.time-inputs input {
  padding: 8px;
  box-sizing: border-box;
}

.button-group {
  display: flex;
  justify-content: flex-end;
  gap: 5px;
  margin-top: 5px;
}

.add-slot-button {
  background-color: #006218;
  color: white;
  padding: 4px 8px;
  font-size: 0.8em;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  margin-bottom: 20px;
  transition: background-color 0.3s ease;
}

.add-slot-button:hover {
  background-color: #004212;
}

.add-slot-button:active {
  background-color: #00300e;
  transform: translateY(2px);
}

.remove-slot-button {
  background-color: #364953;
  color: white;
  padding: 4px 8px;
  font-size: 0.8em;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.remove-slot-button:hover {
  background-color: #151c20;
}
